<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-css"></th:block>
    <title>Sửa thông tin sách</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>

<div class="container">
    <h1>Sửa thông tin sách</h1>
    <form th:action="@{/books/edit}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="col-6 mb-3">
            <label class="form-label" for="title">Tiêu đề:</label>
            <input class="form-control" type="text" th:field="*{title}" id="title">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="author">Tác giả:</label>
            <input class="form-control" type="text" th:field="*{author}" id="author">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="price">Giá:</label>
            <input class="form-control" type="text" th:field="*{price}" id="price">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="category">Thể loại:</label>
            <input class="form-control" type="text" th:field="*{category}" id="category">
        </div>
        <input type="submit" value="Lưu">
    </form>
    <br>
    <a th:href="@{/books}">Quay lại</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>