<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sách</title>
  <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1 th:text=${title}></h1>
  <table class="table">
    <tr>
      <th>STT</th>
      <th>Tiêu đề</th>
      <th>Tác giả</th>
      <th>Giá</th>
      <th>Thể loại</th>
      <th>Thêm</th>
    </tr>
    <tr th:each="book : ${books}">
      <td th:text="${book.id}"></td>
      <td th:text="${book.title}"></td>
      <td th:text="${book.author}"></td>
      <td th:text="${book.price}"></td>
      <td th:text="${book.category}"></td>
      <td>
        <a th:href="@{/books/edit/{id}(id=${book.id})}">Sửa</a> |
        <a th:href="@{/books/delete/{id}(id=${book.id})}"
           onclick="return confirm('Are you sure?')">Xóa</a>
      </td>

    </tr>
  </table>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>