<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ung dung quan ly sach</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Trang Chu Ung Dung Quan Ly Sach
            </a>
        </div>
    </nav>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>